<div class="d-flex flex-column sidebar-right border-rounded">
  <a href="/"class="d-flex align-items-center mx-auto mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <img src="" class="img-thumbnail thumbnail-perfil" alt="">
  </a>
  <div class='mx-auto pt-3 text-center'>
    <h6>Izabelle Schmitt</h6>
    <h7 class="fs-7">Biomédica Estéta</h7>
  </div>

  <div class="d-flex w-100 fs-7 midia-social-icon-navbar-left mt-4 mb-4 ms-2 ">
    <div class="d-flex w-100 ms-auto justify-content-center ">
      <i class="icons-midia-nav-right fa-brands fa-facebook-f "></i>
      <i class="icons-midia-nav-right fa-brands fa-instagram "></i>
      <i class="icons-midia-nav-right fa-brands fa-youtube" ></i>
      <i class="icons-midia-nav-right fa-brands fa-twitter"></i>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <div class="divider"></div>
  </div>

  <div class="consultas w-100">
    
    <h6 class="mb-4 ms-0">Consultas Agendadas</h6>
    <div class="consultas-lista">
      <div class="consultas-lista-item d-flex align-items-center">
        <div class="barrinha"></div>
        <a class="consulta-horario" href="#">
          <div class="d-flex align-items-center justify-content-center">
            <span>10:00 - 11:00</span>
          </div>
        </a>
        <a class="consulta-paciente" href="#">
          <div class="d-flex align-items-center">
            <span>Gino e Geno</span>
          </div>
        </a>
      </div><!--Consulta-->
      <div class="consultas-lista-item d-flex align-items-center">
        <div class="barrinha2"></div>
        <a class="consulta-horario" href="#">
          <div class="d-flex align-items-center justify-content-center">
            <span>11:00 - 12:00</span>
          </div>
        </a>
        <a class="consulta-paciente" href="#">
          <div class="d-flex align-items-center">
            <span>Gina Koothrapali</span>
          </div>
        </a>
      </div><!--Consulta-->
      <div class="consultas-lista-item d-flex align-items-center">
        <div class="barrinha3"></div>
        <a class="consulta-horario" href="#">
          <div class="d-flex align-items-center justify-content-center">
            <span>14:00 - 15:00</span>
          </div>
        </a>
        <a class="consulta-paciente" href="#">
          <div class="d-flex align-items-center">
            <span>Tom Riddle</span>
          </div>
        </a>
      </div><!--Consulta--><div class="consultas-lista-item d-flex align-items-center">
        <div class="barrinha4"></div>
        <a class="consulta-horario" href="#">
          <div class="d-flex align-items-center justify-content-center">
            <span>15:00 - 16:00</span>
          </div>
        </a>
        <a class="consulta-paciente" href="#">
          <div class="d-flex align-items-center">
            <span>Mauricio Lombardi</span>
          </div>
        </a>
      </div><!--Consulta-->

      
    </div><!--Consultas-lista-->
  </div><!--Consulta-->

  <div class="consultas w-100">
    
    <h6 class="mb-4 ms-0">Tarefas Agendadas</h6>
    <div class="consultas-lista">
      <div class="consultas-lista-item d-flex align-items-center">
        <div class="barrinha"></div>
        <a class="tarefas-link" href="#">
          <div class="d-flex align-items-center consulta-tarefa">
            <span>Preparar os equipamentos</span>
          </div>
        </a>
      </div><!--Consulta-->
      <div class="consultas-lista-item d-flex align-items-center">
        <div class="barrinha2"></div>
        <a class="tarefas-link" href="#">
          <div class="d-flex align-items-center consulta-tarefa">
            <span>Receber mercadorias</span>
          </div>
        </a>
      </div><!--Consulta-->
      <div class="consultas-lista-item d-flex align-items-center">
        <div class="barrinha3"></div>
        <a class="tarefas-link" href="#">
          <div class="d-flex align-items-center consulta-tarefa">
            <span>Pagar Fornecedores</span>
          </div>
        </a>
      </div><!--Consulta-->

      
    </div><!--Consultas-lista-->
  </div><!--Consulta-->
</div>
