{% load static %}
{% include 'D:\Programação\teste\AIO_Env\AIO_Projeto\Plataforma\templates\head.html' %}

<body>
    <main>

        <div class="container-fluid">

            <div class="d-flex flex-column align-items-center justify-content-center width-vw height-vh">

                <div><h2>Cadastro Salvo!</h2></div>
                <div><p>Você será redirecionado para a página inicial!</p></div>
                <a href="{% url 'plataforma' %}">Home</a>
            </div>

        </div>

    </main>
</body>

