<main class="cadastro-form">

    <div class="row">
        <div class="col-xxl-3"> 
            <div class="row">
                <div class="d-flex flex-column">
                    <a href="/"class="d-flex align-items-center mx-auto mb-3">
                            <img src="" class="img-thumbnail thumbnail-perfil-cadastro mt-3" alt="">
                    </a>
                    <div class='mx-auto pt-3 text-center'>
                            <span class="fs-7">André da Luz Boeng</span>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="d-flex flex-row ">
                    <div class="col-xxl-5 d-flex mt-5">
                        <div class="fs-7 ms-3">Idade:</div>
                    </div>
                    <div class="col-xxl-7 d-flex">
                        <div class="fs-7 ms-3 mt-5">32 anos</div>
                    </div>
                </div>
                <div class="d-flex flex-row ">
                    <div class="col-xxl-5 d-flex mt-1">
                        <div class="fs-7 ms-3">Data de Nascimento:</div>
                    </div>
                    <div class="col-xxl-7 d-flex">
                        <div class="fs-7 ms-3 mt-1">05/12/1990</div>
                    </div>
                </div>
                <div class="d-flex flex-row ">
                    <div class="col-xxl-5 d-flex mt-1">
                        <div class="fs-7 ms-3">Sexo:</div>
                    </div>
                    <div class="col-xxl-7 d-flex">
                        <div class="fs-7 ms-3 mt-1">Masculino</div>
                    </div>
                </div>
                <div class="d-flex flex-row ">
                    <div class="col-xxl-5 d-flex mt-1">
                        <div class="fs-7 ms-3">CPF:</div>
                    </div>
                    <div class="col-xxl-7 d-flex">
                        <div class="fs-7 ms-3 mt-1">064.155.039-10</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex flex-column">
                    <span class="fs-6 ms-3 mb-3 mt-4">Endereço</span>
                </div>
            </div>
            <div class="row d-flex flex-column">
                <div class="d-flex">
                    <div class="col-xxl-5 d-flex flex-row mt-1">
                        <div class="fs-7 ms-3">Rua:</div>
                    </div>
                    <div class="col-xxl-7 d-flex">
                        <div class="fs-7 ms-3 mt-1 flex-shrink-1">Bom Retiro, 127</div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-xxl-5 d-flex mt-1">
                        <div class="fs-7 ms-3">Complemento:</div>
                    </div>
                    <div class="col-xxl-7 d-flex ">
                        <div class="fs-7 ms-3 mt-1 flex-shrink-1"></div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-xxl-5 d-flex mt-1">
                        <div class="fs-7 ms-3">Bairro:</div>
                    </div>
                    <div class="col-xxl-7 d-flex ">
                        <div class="fs-7 ms-3 mt-1 flex-shrink-1">São Vicente</div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-xxl-5 d-flex mt-1">
                        <div class="fs-7 ms-3">Cidade:</div>
                    </div>
                    <div class="col-xxl-7 d-flex ">
                        <div class="fs-7 ms-3 mt-1 flex-shrink-1">Itajaí</div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-xxl-5 d-flex mt-1">
                        <div class="fs-7 ms-3">Estado:</div>
                    </div>
                    <div class="col-xxl-7 d-flex ">
                        <div class="fs-7 ms-3 mt-1 flex-shrink-1">Santa Catarina</div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-xxl-5 d-flex mt-1">
                        <div class="fs-7 ms-3">CEP:</div>
                    </div>
                    <div class="col-xxl-7 d-flex ">
                        <div class="fs-7 ms-3 mt-1 flex-shrink-1">88309-610</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex flex-column">
                    <span class="fs-6 ms-3 mb-3 mt-4">Contato</span>
                </div>
            </div>
            <div class="row d-flex flex-column">
                <div class="d-flex">
                    <div class="col-xxl-5 d-flex flex-row mt-1">
                        <div class="fs-7 ms-3">Telefone:</div>
                    </div>
                    <div class="col-xxl-7 d-flex">
                        <div class="fs-7 ms-3 mt-1 flex-shrink-1">(47) 9 8831-9227</div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-xxl-5 d-flex flex-row mt-1">
                        <div class="fs-7 ms-3">Telefone:</div>
                    </div>
                    <div class="col-xxl-7 d-flex">
                        <div class="fs-7 ms-3 mt-1 flex-shrink-1">(47) 9 8831-9227</div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-xxl-5 d-flex flex-row mt-1">
                        <div class="fs-7 ms-3">Email:</div>
                    </div>
                    <div class="col-xxl-7 d-flex">
                        <div class="fs-7 ms-3 mt-1 flex-shrink-1">andre.boeng@outlook.com</div>
                    </div>
                </div>
            </div>

        </div>
        

        
        <div class="container-fluid col-xxl-9 mt-5"> 
            <form action="cad_salvo" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="form-floating mb-3">
                        <input name="nome" type="text" class="form-control" id="floatingInput" placeholder="Nome Completo">
                        <label for="floatingInput" class="ms-3"> Nome Completo</label>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="col-xxl-4">
                        <div class="form-floating mb-3">
                            <input name="cpf" type="text" class="form-control" id="floatingInput" placeholder="CPF">
                            <label for="floatingInput" class="ms-1">CPF</label>
                        </div>
                    </div>
                    <div class="col-xxl-4">
                        <div class="form-floating mb-3">
                            <input name="data_nascimento" type="text" class="form-control" id="floatingInput" placeholder="Nascimento">
                            <label for="floatingInput" class="ms-1">Data de Nascimento</label>
                        </div>
                    </div>
                    <div class="col-xxl-4">
                        <div class="form-floating mb-3">
                            <select name="sexo" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option value="fem">Feminino</option>
                                <option value="mas">Masculino</option>
                            </select>
                            <label for="floatingSelect" class="ms-1">Sexo</label>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="col-xxl-10">
                        <div class="form-floating mb-3">
                            <input name="rua" type="text" class="form-control" id="floatingInput" placeholder="Rua">
                            <label for="floatingInput" class="ms-1">Rua</label>
                        </div>
                    </div>
                    <div class="col-xxl-2">
                        <div class="form-floating mb-3">
                            <input name="numero_casa" type="text" class="form-control" id="floatingInput" placeholder="Numero">
                            <label for="floatingInput" class="ms-1">Número</label>
                        </div>
                    </div>
                </div>
                
                <div class="row d-flex justify-content-between">
                    <div class="col-xxl-6">
                        <div class="form-floating mb-3">
                            <input name="complemento" type="text" class="form-control" id="floatingInput" placeholder="Complemento">
                            <label for="floatingInput" class="ms-1">Complemento</label>
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div class="form-floating mb-3">
                            <input name="bairro" type="text" class="form-control" id="floatingInput" placeholder="Bairro">
                            <label for="floatingInput" class="ms-1">Bairro</label>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-between">
                    <div class="col-xxl-6">
                        <div class="form-floating mb-3">
                            <input name="cidade" type="text" class="form-control" id="floatingInput" placeholder="Cidade">
                            <label for="floatingInput" class="ms-1">Cidade</label>
                        </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="form-floating mb-3">
                            <select name="estado" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BH">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MG">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SS">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>                            
                            </select>
                            <label for="floatingSelect" class="ms-1">Estado</label>
                        </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="form-floating mb-3">
                            <input name="cep" type="text" class="form-control" id="floatingInput" placeholder="CEP">
                            <label for="floatingInput" class="ms-1">CEP</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="nome@exemplo.com">
                        <label for="floatingInput" class="ms-3">E-mail</label>
                    </div>                        
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="col-xxl-6">
                        <div class="form-floating mb-3">
                            <input name="telefone" type="text" class="form-control" id="floatingInput" placeholder="Telefone">
                            <label for="floatingInput" class="ms-1">Telefone</label>
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div class="form-floating mb-3">
                            <input name="telefone2" type="text" class="form-control" id="floatingInput" placeholder="Telefone">
                            <label for="floatingInput" class="ms-1">Telefone</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary ms-4">Enviar</button>
            </form>
        </div>
        
    </div>
</main>
