<main>
    <div class="container-fluid h-100">
        <div class="agenda_dispositivo p-2">
            <div class="container-fluid">
                <div class="row agenda_dispositivo_titulo">
                    <div class="d-flex col-xxl-8  align-items-center justify-content-start mt-1">
                        <span class="fw-semibold">Agenda</span>
                    </div>
                    <div class="d-flex col-xxl-4 align-items-center justify-content-end mt-1">
                        <span class="fs-8  fst-italic fw-light">Ver todos</span>
                    </div>
                </div>

                <div class="agenda_dispositivo_banner">

                    <div class="row">

                        <div class="col-xxl-4 d-flex align-items-center justify-content-center border-end">
                            <div class="agenda_dispositivo_photo "></div>
                        </div><!-- col -->

                        <div class="col-xxl-8">
                            <div class="agenda_dispositivo_dados">
                                <p class="fs-7 fw-semibold">André da Luz Boeng</p>
                                <p class="fs-8 c1 fw-semibold">Horario: <span class="fw-normal">10:00 a 11:00</span></p>
                                <p class="fs-8 c1 fw-semibold">Data: <span class="fw-normal">23/05</span></p>
                                <p class="fs-8 c1 fw-semibold">Procedimento: <span class="fw-normal">Botox</span></p>
                            </div> <!-- agenda_dispositivo_dados -->
                        </div><!-- col -->

                    </div><!-- row -->

                </div><!-- agenda_dispositivo_banner -->

                <div class="agenda_dispositivo_banner">

                    <div class="row">

                        <div class="col-xxl-4 d-flex align-items-center justify-content-center border-end">
                            <div class="agenda_dispositivo_photo "></div>
                        </div><!-- col -->

                        <div class="col-xxl-8">
                            <div class="agenda_dispositivo_dados">
                                <p class="fs-7 fw-semibold">Rosane Schmitt</p>
                                <p class="fs-8 c1 fw-semibold">Horario: <span class="fw-normal">14:00 a 15:00</span></p>
                                <p class="fs-8 c1 fw-semibold">Data: <span class="fw-normal">23/05</span></p>
                                <p class="fs-8 c1 fw-semibold">Procedimento:<span class="fw-normal"> Harmonização Facial</span></p>
                            </div> <!-- agenda_dispositivo_dados -->
                        </div><!-- col -->

                    </div><!-- row -->

                </div><!-- agenda_dispositivo_banner -->

                <div class="agenda_dispositivo_banner">

                    <div class="row">

                        <div class="col-xxl-4 d-flex align-items-center justify-content-center border-end">
                            <div class="agenda_dispositivo_photo "></div>
                        </div><!-- col -->

                        <div class="col-xxl-8">
                            <div class="agenda_dispositivo_dados">
                                <p class="fs-7 fw-semibold">Thor Schmitt Boeng</p>
                                <p class="fs-8 c1 fw-semibold">Horario: <span class="fw-normal">17:00 a 18:00</span></p>
                                <p class="fs-8 c1 fw-semibold">Data: <span class="fw-normal">23/05</span></p>
                                <p class="fs-8 c1 fw-semibold">Procedimento: <span class="fw-normal">Harmonização Fucial</span></p>
                            </div> <!-- agenda_dispositivo_dados -->
                        </div><!-- col -->

                    </div><!-- row -->

                </div><!-- agenda_dispositivo_banner -->


                
            </div><!-- container -->

        </div><!-- agenda_dispositivo -->

    </div><!-- container-->

</main>