{% load static %}
{% include 'D:\Programação\teste\AIO_Env\AIO_Projeto\Plataforma\templates\head.html' %}

  <body>
    <main class="container-fluid base-bg-color height-vh width-vw">
      <div class="d-flex">
        <div class="height-vh">{% include 'D:\Programação\teste\AIO_Env\AIO_Projeto\NavBar_Left\templates\sidebar-left2.html' %}
        </div>
        <div class="main-central">{% include 'central.html'%}</div>
        {% comment %} <div class="ms-auto">          {% include 'D:\Programação\teste\AIO_Env\AIO_Projeto\NavBar_Right\templates\sidebar-right.html'%}</div>
      </div> {% endcomment %}
    </main>

    {% include 'D:\Programação\teste\AIO_Env\AIO_Projeto\Plataforma\templates\js.html' %}
  </body>

</html>