
<main class="main-central align-items-center">
    <div class="row row-apresentacao  align-items-center">
        <div class="apresentacao d-flex align-items-center">
            <div class="apresentacao-box d-flex align-items-center">
                <h6>Bem Vinda, Izabelle Schmitt ! </h6>
            </div><!--apresentacao-box-->
        </div><!--apresentacao-->
    </div><!--row-->

    <div class="row row-boxes d-flex align-items-center justify-content-between p-1">
        <div class="col-central col-xxl-3">teste</div>
        <div class="col-central col-xxl-4" >teste</div>
        <div class="col-central col-xxl-4">teste</div>
    </div><!--row-boxes-->
    <div class="row row-boxes d-flex align-items-center justify-content-between p-1">
        <div class="col-central col-xxl-5">teste</div>
        <div class="col-central col-xxl-5" >teste</div>
    </div><!--row-boxes-->
    <div class="row row-boxes d-flex align-items-center justify-content-between p-1">
        <div class="col-central-agenda col-xxl-12">teste</div>
    </div><!--row-boxes-->
    
</main>
